
.DS_Store
Magic Square.xcodeproj/project.xcworkspace/xcuserdata/alfredbr.xcuserdatad/UserInterfaceState.xcuserstate
Magic Square.xcodeproj/project.xcworkspace/xcuserdata/alfredbr.xcuserdatad/UserInterfaceState.xcuserstate
